#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem 0 4rem 0;
}

#footer>h1 {
    font-size: 2.7em;
    text-transform: uppercase;
    margin-bottom: 4rem;
}

#footer>ul {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

#footer>ul>li {
    font-size: 1.1em;
    font-weight: 600;
    cursor: pointer;
}

#footer>.social {
    width: 130px;
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

@media screen and (max-width: 768px) {
    #footer {
        padding: 2rem 0 2rem 0;
    }
    #footer>h1 {
        font-size: 2rem;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
    #footer>ul {
        flex-direction: wrap;
        gap: 1rem;
    }
    #footer>ul>li {
        font-size: 1em;
    }
    #footer>.social {
        width: 100px;
    }
}