#hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#hero>.showcase {
    flex: 1;
    display: flex;
    gap: 6rem;
}

.showcase>.text {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.text>h1 {
    font-size: 4rem;
    line-height: 4.4rem;
    text-align: left;
}

.text>p {
    font-size: 1.25em;
    width: 60%;
    color: #DDB764;
}

.text>p>ul {
    list-style: none;
    padding: 0;
    color : lightgrey
}

.text>button {
    width: 30%;
}

.text>button:hover {
    background-color: #907230;
    color: #fff;
}

.button {
    display: flex;
    gap: 1rem;

}

.showcase>.images {
    flex: 1;
    position: relative;
    
}

@keyframes image1 {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.image1 {
    position: absolute;
    left: 0;
    top: 10%;
    width: 100%;
    height: 60%;
    background-image: url("/NooshisHome.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 98%;

    animation: image1 2s;
    animation-iteration-count: infinite;

}

.image1:hover {
    animation-play-state: paused;
}



/*************** Responsiveness ****************/
@media screen and (max-width: 768px) {
    .showcase {
        flex-direction: column;
    }

    .showcase>.text {
        padding: 1rem 0;
        flex: 0;
    }

    .showcase>.text>h1 {
        font-size: 2rem;
        text-align: center;
    }

    .showcase>.text>p {
        width: 100%;
        text-align: center;
        font-size: 1rem;
}

    .showcase>.text>button {
        width: 60%;
        
    }

    .showcase>div>.button{
        margin: 0 auto;
        text-align: center ;
    }

    .showcase>.images>.image1 {
        display: none;
        margin-bottom: 100px;
    }

    #hero {
        margin-bottom: -240px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
    .showcase {
        flex-direction: column;
    }

    .showcase>.text {
        padding: 1rem 0;
        flex: 0;
    }

    .showcase>.text>h1 {
        font-size: 3rem;
        text-align: center;
    }

    .showcase>.text>p {
        width: 100%;
        text-align: center;
        font-size: 1.2rem;
    }

    .showcase>.text>button {
        width: 60%;
    }

    .showcase>div>.button{
        margin: 0 auto;
        text-align: center ;
    }

    .showcase>.images>.image1 {
        display: none;
        margin-bottom: 100px;
    }

    #hero {
        margin-bottom: -240px;
    }
}
