#menu {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: start;
}

#menu>h3 {
    color: var(--primary-color);
    font-size: 1.5rem;
    text-align: center;
}

#menu>h1 {
    font-size: 4rem;
    width: 70%;
    line-height: 65px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    #menu>h1 {
        width: 100%;
        font-size: 2.5rem;
        text-align: center;
    }

    #menu>h3 {
        text-align: center;
    }
}
